{% load static %}
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Valens Research Exam </div>
      <div class="list-group list-group-flush">
        <a href="{% url 'index' %}" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="{% url 'enroll' %}" class="list-group-item list-group-item-action bg-light">Enroll Car</a>
        <a href="{% url 'about' %}" class="list-group-item list-group-item-action bg-light">Instructions</a>
        <a href="{% url 'profile' %}" class="list-group-item list-group-item-action bg-light">Profile</a>
      </div>
    </div>