
{% extends 'base.html' %}
{% block title %} | Instruction {% endblock %}
{% block content %}
        <p>Design and develop a web page for storing and managing (CRUD) an ordered list of 100,000 cars in a relational database.</p>
        <h2>Constraints</h2>
        
        <p>The cars need to be queried by color and returned in order. For example, clicking on “show blue cars” should return Cars D,E, and A, in that specific order. The cars need to be moved often. For example, Car C can be moved in front of Car B and Car D can be moved in front of Car A. 
        <strong>This needs to be implemented very efficiently, updating as few records as possible.</strong></p>
{% endblock %}

